.main-content__wrap {
  position: relative;
  margin-top: 158px;
  display: flex;
  flex-direction: column;
}

.selection-train_wrapper {
  background-color: #e5e5e5;
  display: flex;
  min-height: 774px;
  width: 1920px;
}

.selection-train_content {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

section#trains-menu {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-left: 86px;
  width: 959px;
}

/*Form*/
.search-tickets_form {
  position: absolute;
  left: 215px;
  top: 111px;
  width: 1490px;
  height: 327px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: rgba(41, 41, 41, 0.69);
}

.search-tickets_form_departure_title {
  width: 50%;
  margin-top: 28px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  color: #ffffff;
}

.search-tickets_form_destination {
  width: 50%;
  padding-left: 44px;
  padding-right: 18px;
}

.search-tickets_form_date-trails {
  width: 50%;
  padding-right: 42px;
  padding-left: 18px;
}

.search-tickets_form_departure_title:last-child {
  margin-left: -7px;
}

.search-tickets_form_control {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 41px;
  margin-top: 30px;
}

/*ProgressBar*/
.progress {
  position: relative;
  width: 1919px;
  height: 98px;

  background: #3e3c41;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;

  color: #ffffff;
}

.progress-bar {
  position: relative;
  border-radius: 0px;
  height: 100%;
  background-color: #3e3c41;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  clip-path: polygon(
    0% 0px,
    /* верхняя левая */ 0px 0%,
    /* верхняя левая */ calc(100% - 47px) 0%,
    /* верхняя правая */ 100% 47px,
    /* верхняя правая */ 100% calc(100% - 47px),
    /* нижняя правая */ calc(100% - 47px) 100%,
    /* нижняя правая */ 0px 100%,
    /* нижняя левая */ 0 calc(100% - 47px)
  );
}

.progress-bar.step-tickets {
  width: 621px;
  background-color: #ffa800;
  z-index: 4;
}

.step_active {
  background: #ffa800;
}

.progress-bar.step-pay {
  position: absolute;
  left: 960px;
  width: 435px;
  justify-content: flex-start;
  z-index: 2;
}

.step-passenger {
  position: absolute;
  left: 573px;
  width: 435px;
  justify-content: flex-start;
  z-index: 3;
}

.progress-bar.step-validate {
  position: absolute;
  left: 1345px;
  width: 646px;
  justify-content: flex-start;
}

.border-top-step {
  height: 148px;
  border: 1px solid #fff;
  transform: rotate(-45deg);
  position: absolute;
  right: -2px;
}

.border-bottom-step {
  height: 148px;
  border: 1px solid #fff;
  transform: rotate(45deg);
  position: absolute;
  right: -2px;
}

span.numbering {
  width: 53px;
  height: 53px;
  border-radius: 53px;
  border: 3px solid #ffffff;
  line-height: 46px;
}

.margin-numbering {
  margin-left: 70px;
}

.progress-bar-name {
  margin-left: 28px;
}

/*SearchControls*/
.search-controls__wrap {
  margin-top: 95px;
  height: 43px;
  flex-flow: row wrap;
}

.dropend .dropdown-toggle::after {
  border: none;
}

.amount-text,
.button-sorted-trains,
.sorted-text,
.puncts-list-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #928f94;
}

.amount_block {
  width: 197px;
}

span.amount-text {
  width: 105px;
  height: 22px;
}

.dropdown.dropend {
  margin-left: 270px;
}

span.sorted-text {
  color: #292929;
}

.dropdown-sorted-trains {
  color: #928f94;
  transform: translate(145px, -2px);
}

.dropdown-sorted-trains:focus,
.dropdown-sorted-trains:active {
  border: none;
  outline: none;
}

.button-sorted-trains {
  margin-top: -8px;
  height: 22px;
}

.dropdown-sorted-trains.show {
  width: 137px;
  height: 117px;

  border-radius: 0px;
  padding: 0;
  background: #f7f5f9;
  border: none;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translate(145px, -8px) !important;
}

.sorted-trains-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #3e3c41;
}

button.dropdown-item.sorted-trains-item {
  padding: 0;
  padding-left: 7px;
  height: 38px;
}

button.dropdown-item.sorted-trains-item:hover {
  background: #ffca62;
}

.search-controls-puncts__wrap {
  display: flex;
  margin-left: auto;
  height: 22px;
  width: 210px;
}

.search-controls-puncts-list {
  justify-content: space-evenly;
  padding: 0;
  list-style-type: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 78px;
}

button.btn.puncts-list__btn {
  padding: 0;
  height: 22px;
  width: 22px;
  line-height: 20px;
  color: #928f94;
}

.btn.puncts-list__btn.active-limit {
  color: #292929;
}

/*Trains-cards*/
.trains-menu-wrap.d-flex {
  margin-top: 26px;
  margin-right: 256px;
  flex-direction: column;
}

.card-deck.trains-menu-group {
  display: flex;
  flex-direction: column;
  max-width: 959px;
}

.trains-menu-item_card.card {
  display: flex;
  flex-direction: row;
  width: 959px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  margin: 0;
  margin-bottom: 49px;
}

.card-top.trains-menu-item {
  display: flex;
  flex-direction: column;
  width: 197px;
  background-color: #e4e0e9;
}

.trains-menu-svgIcon-wrap {
  margin-top: 58px;
  margin-left: 43px;
}

.trail {
  margin-top: 17px;
  margin-bottom: 31px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #292929;
}

.trains-menu.trains-number {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  width: 93px;
  margin-left: 39px;
  color: #3e3c41;
}

span.trail-city-name {
  margin-left: 25px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #292929;
}

i.fa.fa-long-arrow-right {
  margin-left: 5px;
  color: #292929;
}

.train-name {
  margin-left: 25px;
}

.card-body.trains-menu-item {
  width: 479px;
  padding: 54px 36px 23px 39px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  color: #000000;
}

.trains-menu-group {
  justify-content: space-between;
}

.trains-menu.train-departure-from {
  width: 155px;
}

.trains-menu.train-departure-to {
  width: 164px;
}

.train-departure.data-trains-railway_station_name {
  color: #928f94;
}

.trains-menu-reverse-group {
  margin-top: 46px;
  justify-content: space-between;
}

.train-departure.data-trains-datetime {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.trails-duration {
  font-size: 18px;
  line-height: 21px;

  color: #c4c4c4;
}

.trails-duration-block > .trains-menu-svgIcon-wrap {
  display: flex;
  justify-content: center;
  margin-left: 5px;
  margin-top: 5px;
}

img.trains-menu-reverse__icon {
  transform: rotate(180deg);
  margin-left: 0;
}

.card-bottom.trains-menu_bottom {
  width: 283px;
  border-left: 1px dashed #e5e5e5;
}
.trains-menu-available-wagons {
  width: 283px;
  padding-left: 27px;
  padding-right: 22px;
  margin-top: 41px;
}

.available-wagons_block-item {
  position: relative;
  margin-bottom: 33px;
  position: relative;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
}
.available-seats.wrap {
  position: absolute;
  visibility: hidden;
}
.available-seats_block {
  position: absolute;
  top: 28px;
  left: -23px;
  width: 276px;
  height: 93px;
  background: #e5e5e5;
  z-index: 10;
  border-radius: 5px;
  padding: 12px 23px 16px 32px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.available-seats_block::before {
  content: "";
  border: 20px solid transparent;
  border-bottom-color: #e5e5e5;
  position: absolute;
  margin: -43px 0px 0 72px;
}
.available-seats-item {
  display: flex;
  justify-content: space-between;
}
.available-seats_group-text {
  width: 48%;
  display: flex;
  justify-content: space-between;
}
.wagons_type,
span.available-seats_name {
  font-size: 16px;
  line-height: 19px;
  width: 85px;
  color: #3e3c41;
}

.amount-seats,
.available-seats {
  margin-left: 15px;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: block;
  color: #ffa800;
}

.available-seats {
  margin-left: 10px;
}
.wagons_trains-menu_item-class.amount-seats.text-center:hover {
  cursor: pointer;
}

.wagons-type_price {
  margin-left: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.text-min-price {
  line-height: 19px;
  color: #928f94;
  margin-right: 5px;
}

span.wagons-type_min-price,
.available-seats_min-price {
  margin-top: -7px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #2d2b2f;
}
.currency-icon {
  margin-left: 5px;
  color: #928f94;
  font-size: 24px;
  font-weight: 300;
}
.trains-menu_icons-block {
  color: #c4c4c4;
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  margin-right: 28px;
}
.icon_rocket.card-icon_rocket.ml-2 {
  width: 20px;
  height: 18px;
  filter: grayscale(2%);
  opacity: 0.2;
}
.trains-menu_control {
  padding-left: 27px;
  padding-right: 22px;
  padding-bottom: 23px;
  margin-top: 17px;
  display: flex;
  justify-content: flex-end;
}
button.selection-seats_btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  color: #ffffff;
  width: 228px;
  height: 39px;

  background: #ffa800;
  border-radius: 5px;
}
button.selection-seats_btn:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
button.selection-seats_btn:active {
  box-shadow: none;
  background: #e5e5e5;
  color: #ffa800;
  border: 1px solid #ffa800;
}

/*Пагинация на странице выбор поезда*/
.selection-trains-pagination {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  margin-bottom: 193px;
  list-style-type: none;
}
li.trains-menu-pagination__item {
  height: 75px;
  width: 85px;
  margin-left: 35px;
}

.trains-menu-pagination__item-link,
.trains-menu-pagination__next-item-link,
.trains-menu-pagination__previus-item-link {
  width: 83px;
  height: 75px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;

  color: #928f94;
  border: 2px solid #c4c4c4;
  border-radius: 5px;
}
li.trains-menu-pagination__item:nth-child(2) > a {
  background: #ffa800;
  color: #fff;
}
.trains-menu-pagination__next-item-link {
  background-image: url(../../../img/selectionTrain/icon_paginate_arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.trains-menu-pagination__previus-item-link {
  background-image: url(../../../img/selectionTrain/icon_paginate_arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(180deg);
}
.trains-menu-pagination__item-link:focus {
  background: #fff;
  outline: none;
  box-shadow: none;
  border: 2px solid #ffa800;
}
.trains-menu-pagination__item-link:hover {
  background: inherit;
  color: #ffa800;
  border: 2px solid #ffa800;
}

.trains-menu-pagination_active-link > a {
  background: #fff;
  border-color: #ffa800;
  color: #ffa800;
}

.search-wrap-util {
  height: 100%;
  width: 79%;
  display: flex;
}
